[submodule "srcEXT/in0k_lazarusIdeSRC__expertCORE"]
	path = srcEXT/in0k_lazarusIdeSRC__expertCORE
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__expertCORE.git
[submodule "srcEXT/in0k_lazarusIdeSRC__wndDEBUG"]
	path = srcEXT/in0k_lazarusIdeSRC__wndDEBUG
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__wndDEBUG.git
[submodule "srcEXT/in0k_lazarusIdeSRC__expertTemplates"]
	path = srcEXT/in0k_lazarusIdeSRC__expertTemplates
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__expertTemplates.git
[submodule "srcEXT/in0k_lazarusIdeSRC__fuckUpControl"]
	path = srcEXT/in0k_lazarusIdeSRC__fuckUpControl
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__fuckUpControl.git
